
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --color--primario : #f0ede7;
    --color-secundario-: #D7a5a5;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

    background-color: var(--color--primario);
    display: flex;
    flex-direction: column;
}

nav {
    width: 100%;
    height: 80px;
    background-color: #fff;
    border-bottom: 1px solid transparent;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul {
    display: flex;
    height: 80px;
    width: 100%;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul a{
    text-decoration: none;
}

nav ul li {
    color: #9b249f;
    text-decoration: none;
    margin: 0 10px;
    padding: 12px 15px;
    border-radius: 10px;
}

nav ul  li:hover {
    color: #fff;
    background-color: #3d7ad0;
    border-color: #e7e0e0;
    transition: all ease-in-out .6s;
}

#CTA{
    background-image: url(/image/perfil\ .jpg);
    background-position: center ;
    background-size: cover;
    text-align: center;
    height: 400px;
   padding: 45px;
    margin-top: 60px;
   
}
#CTA p{
    color: var(--color-secundario-);
}
#CTA button{
    background-color: transparent;

    border: 2px solid white;
    padding: 10px 15px;
    margin: 10px;
    color: #333;
    cursor: pointer;
    transition: 0.3s;
}


.text-sobreMi{
 display: flex;
justify-content: center;
 align-items: center;

}
.botones{
    display: flex;
    justify-content: space-between;
    padding: 200px 0;
   
}
.boton1:hover{
  background-color: var(--color-secundario-);
 border-radius: 15px;
  color: #e3d9e4;
}

#sobreMi {
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding: 1rem;
    width: 100%;
    max-width: 375px;
    margin: 0 auto;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}


#sobreMi figure {
    width: 150px;
    height: 150px;
    margin: 0;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sobreMi img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Texto */
#textos {
    text-align: justify;
    padding: 0 1rem;
}

#textos h2 {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
}

#textos p {
    font-size: 0.9rem;
    color: #5d6678;
    line-height: 1.5;
}
#habilidades {
    display: flex; 
    flex-wrap: wrap; 
    margin-top: 50px;
    justify-content: space-evenly; 
}
#habilidad {
    width: 300px;
    border-radius: 15px;
    margin-bottom: 60px;
    transition: 0.5s;
    text-align: center;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
}

#habilidad h2 {
    margin-bottom: 20px;
    color: black;     
}
#titulo{
padding: 20px;
}




#habilidad:hover {
    box-shadow: 0 4px 10px rgba(17, 29, 48, .26);
    color: #fff;
    background: #d03d3d;
    transition: .5s;
}



#Formación {
    padding: 20px;
    background-color: #f4f4f4;
}

#Formación h2 {
    text-align: center;
}


/* Carrusel (Ejemplo básico, puedes personalizarlo) */
.carousel {
    display: flex;
    overflow: hidden;
    position: relative;
}

.carousel-item {
    min-width: 100%;
    transition: transform 0.5s ease;
}

footer {
    background: rgb(70, 70, 70);
    padding: 20px 0;
    padding-top: 30px;
    overflow: hidden; 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-evenly;
    margin: auto;
}

.partFooter {
    width: auto;
    text-align: center;
}

.partFooter img {
    width: 60%;
}

.partFooter h4 {
    color: white;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 15px;
    background-color: #d03d3d;
    padding: 5px;
    border: 1px solid #d03d3d;
    border-radius: 5px;
}

.contact {
    margin: 10px;
    display: block;
    text-align: left;
}

.contact > i {
    float: left;
    margin: 0 0 0 10px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    line-height: 28px;
    text-align: center;
    align-items: center;
}

.contact > p {
    margin-left: 50px;
    align-items: center;
    line-height: 28px;
    font-weight: 500;
    color: #fff;
}

.partFooter > a {
    display: block;
    text-decoration: none;
    color: #fff;
    margin-bottom: 10px;
    font-weight: 500;
    padding: 5px;
}

.partFooter > a:hover {
    color: #fff;
    background-color: #cf6c6c;
    border-color: #cf6c6c;
    transition: all ease-in-out .6s;
    border-radius: 5px;
}

.social-media > a > i {
    font-size: 20px;
    display: inline-block; 
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50%; 
    width: 38px; 
    height: 38px; 
    line-height: 36px; 
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
    transition: all ease-in-out .3s;
    margin-right: 5px;
}

.social-media > a > i:hover {
    color: #fff;
    background-color: #d03d3d;
    border-color: #d03d3d;
}









